spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://192.168.23.182:3306/store_oms
    driver-class-name: com.mysql.cj.jdbc.Driver
  rabbitmq:
    host: 192.168.23.182
    port: 5672
    virtual-host: /
    publisher-confirms: true #消息抵达broker
    publisher-returns: true #消息正确抵达queue确认
    template:
      mandatory: true #只要抵达队列 以异步发送 优先回调returns
mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml #配置扫描xml文件路径
  global-config:
    db-config:
      id-type: auto

server:
  port: 9000